
/* For the union name */
.small-text {
  font-size: 15px; /* Slightly larger font for better readability */
  font-weight: 600; /* Make it bold for emphasis */
  margin-bottom: 10px; /* Add more spacing below */
  color: #333; /* Neutral color for better visibility */
}


/* For the separator */
.separator {
  border-bottom: 2px solid black;
  margin: -5px 0;  
  margin-bottom: 15px;
  width: 100%;  /* Full width */
}




.union-box:hover {
  background-color: #f0f0f0; /* Slightly darker background on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

